body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
background:black;
color:white;
}

/* HERO SECTION */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background-image:url("../images/dragon-bg.jpg");
background-size:cover;
background-position:center;
}

/* DARK OVERLAY */

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.hero-content{
position:relative;
z-index:2;
}

/* TITLE */

.hero h1{
font-size:70px;
letter-spacing:5px;
color:#ff4b2b;
}

/* BUTTON */

.buy-btn{
margin-top:20px;
padding:15px 40px;
background:#ff4b2b;
border:none;
color:white;
font-size:20px;
cursor:pointer;
border-radius:8px;
}

.buy-btn:hover{
background:#ff784e;
}
