body{
margin:0;
padding:0;
font-family:Arial;
background:black;
color:white;
}

.navbar{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,0.9);
padding:15px 0;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

.logo img{
height:50px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:18px;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:url("../images/dragon-bg.jpg");
background-size:cover;
background-position:center;
}

.hero-content{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;
}

.hero h1{
font-size:70px;
color:#ff4b2b;
}

.buy-btn{
margin-top:20px;
padding:15px 40px;
background:#ff4b2b;
border:none;
color:white;
font-size:20px;
cursor:pointer;
border-radius:8px;
}
