body{

margin:0;
font-family:Arial;
background:#050510;
color:white;
text-align:center;

}

.navbar{

display:flex;
justify-content:space-between;
padding:20px;
background:black;

}

.nav-links a{

margin:10px;
color:white;
text-decoration:none;

}

.hero{

margin-top:100px;

}

.hero-logo{

width:120px;

}

.buy-btn{

padding:10px 20px;
background:#ff4500;
border:none;
color:white;
font-size:18px;
cursor:pointer;

}

.page{

padding:100px 20px;

}
