body{

background:black;
color:white;
text-align:center;
font-family:'Orbitron',sans-serif;

}

.hero{

padding-top:200px;

}

.logo{

font-size:120px;
font-weight:700;

}

/* FIRE SIDE */

.fire{

background:linear-gradient(
45deg,
#ff3c00,
#ff8c00,
#ff0000
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

text-shadow:

0 0 10px #ff3c00,
0 0 20px #ff3c00,
0 0 40px #ff0000;

animation:fireGlow 3s infinite alternate;

}

/* ICE SIDE */

.ice{

background:linear-gradient(
45deg,
#00eaff,
#0077ff,
#00c3ff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

text-shadow:

0 0 10px #00eaff,
0 0 20px #0077ff,
0 0 40px #00c3ff;

animation:iceGlow 3s infinite alternate;

}

.name{

font-size:60px;
margin-top:20px;

background:linear-gradient(
90deg,
#ff6a00,
#00eaff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.tagline{

opacity:0.8;
margin-top:10px;

}

.buy{

margin-top:30px;
padding:15px 40px;

border:none;

background:linear-gradient(
90deg,
#ff3c00,
#00eaff
);

color:white;
border-radius:30px;
cursor:pointer;

font-size:18px;

box-shadow:
0 0 20px #ff3c00,
0 0 30px #00eaff;

}

/* FIRE ANIMATION */

@keyframes fireGlow{

0%{

text-shadow:
0 0 10px #ff3c00,
0 0 20px #ff0000;

}

100%{

text-shadow:
0 0 30px #ff3c00,
0 0 60px #ff0000;

}

}

/* ICE ANIMATION */

@keyframes iceGlow{

0%{

text-shadow:
0 0 10px #00eaff,
0 0 20px #0077ff;

}

100%{

text-shadow:
0 0 30px #00eaff,
0 0 60px #0077ff;

}

}
